#info
{
    font-size: 18px;
    line-height: 25px;
}

#board_title
{
    font-size: 20px;
}

#board_board
{
    border-style: dashed;
    background-color: white;
    display: block;
    margin-left: 200px;
    width: 400px;
    height: 400px;
}

#buttons
{
    display: block;
    margin-left: 200px;
    margin-top: 10px;
}

#button_input
{
    width: 180px;
    height: 50px;
    margin-left: 10px;
    font-size: 25px;
}

#button_clear
{
    width: 180px;
    height: 50px;
    margin-left: 10px;
    font-size: 25px;
}