#info
{
    font-size: 18px;
    line-height: 25px;
}

#board
{
    float: left;
}

#board_title
{
    font-size: 20px;
}

#board_board
{
    border-style: dashed;
    background-color: white;
    display: block;
    margin-left: 10px;
    width: 400px;
    height: 400px;
}

#buttons
{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}

#button_input
{
    width: 180px;
    height: 50px;
    margin-left: 10px;
    font-size: 25px;
}

#button_clear
{
    width: 180px;
    height: 50px;
    margin-left: 20px;
    font-size: 25px;
}

#output
{
    margin-left: 40px;
    margin-top: 50px;
    float: left;
}

#myChart
{
    display: block;
    width: 800px;
    height: 400px;
    background-color: rgb(127, 255, 255);
}

#clear
{
    clear: both;
}